In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [10]:
crime_USA_2016 = pd.read_csv("crime_USA_2016.csv")

In [11]:
crime_USA_2016.head()

,jurisdiction,prisoner_count,state_population,violent_crime_total,murder,rape,robbery,agg_assault,property_crime_total,burglary,vehicle_theft,Unnamed: 11,fips code,larceny
0,ALABAMA,23745,4860545,25878,407,1915,4687,18869,143259,34045,11716,NaN,AL,97498
1,ALASKA,4378,741522,5966,52,1053,850,4011,24876,4053,3057,NaN,AK,17766
2,ARIZONA,42248,6908642,32542,389,3304,7045,21804,207317,38216,18483,NaN,AZ,150618
3,ARKANSAS,15833,2988231,16563,217,2214,2125,12007,98092,23814,7187,NaN,AR,67091
4,CALIFORNIA,129416,39296476,174796,1930,13702,54789,104375,1002070,188304,176756,NaN,CA,637010

In [16]:
crime_USA_2016poppris=crime_USA_2016[['prisoner_count', 'state_population']]

In [19]:
x = crime_USA_2016[['state_population','violent_crime_total','murder','rape','robbery','agg_assault','property_crime_total','burglary','vehicle_theft' ,'larceny']]

In [ ]:
y=