In [1]:
import pandas as pd

In [14]:
urates = pd.read_csv("2021-Urates.csv",names=["state"])

In [15]:
urates.head()

              state
0     Alabama: 3.8%
1      Alaska: 6.5%
2     Arizona: 5.1%
3    Arkansas: 4.2%
4  California: 7.5%

In [18]:
urates[['state', 'percentage']] = urates['state'].str.split(': ', expand=True)

In [19]:
urates.head()

        state percentage
0     Alabama       3.8%
1      Alaska       6.5%
2     Arizona       5.1%
3    Arkansas       4.2%
4  California       7.5%

In [ ]:
crate = pd.read_csv("2021-Urates.csv",names=["state"])