In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [3]:
UKemploy = pd.read_excel("New/UK DATA/a02sajan2023.xls")

In [4]:
len(UKemploy)

2

In [7]:
UKemploy.keys

<bound method NDFrame.keys of                                      IMPORTANT NOTE:
0                                                NaN
1  The population totals used for the latest LFS ...>

In [7]:
UKemploy.head()

                                     IMPORTANT NOTE:
0                                                NaN
1  The population totals used for the latest LFS ...