In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [4]:
UKpolice = pd.read_excel("New/UKDATA/UKpolicedata/policeforceareatabledec21.xlsx", sheet_name="Table P8")

## Table P8: Offences involving knife or sharp instrument rate per 100,000 recorded by the police for selected offences, by police force area[note 1][note 2][note 6]

In [8]:
UKpolice.drop([0,1,2,3,4,5,6,7,8], inplace=True)

In [9]:
UKpolice.head(15)

,"Table P8: Offences involving knife or sharp instrument rate per 100,000 recorded by the police for selected offences, by police force area[note 1][note 2][note 6]",Unnamed: 1,Unnamed: 2,Unnamed: 3
8,Area Code,Area Name,Jan 2020 to \nDec 2020,Jan 2021 to \nDec 2021
9,K04000001,ENGLAND AND WALES [note 2],82.692013,78.617242
10,E92000001,ENGLAND,83.994586,79.957365
11,E12000001,North East,69.215013,71.136464
12,E23000013,Cleveland [note 2],129.141988,124.963143
13,E23000008,Durham [note 2],43.021085,46.678563
14,E23000007,Northumbria [note 2],57.312541,60.933976
15,E12000002,North West,83.760194,89.678174
16,E23000006,Cheshire [note 2],53.813492,50.110036
17,E23000002,Cumbria [note 2],38.399078,39.81744
18,E23000005,Greater Manchester [note 2],110.202611,124.706578
19,E23000003,Lancashire [note 2],62.49416,66.97517
20,E23000004,Merseyside [note 2],91.96383,90.987941
21,E12000003,Yorkshire and The Humber,88.061586,90.529916
22,E23000012,Humberside [note 2],81.367401,81.439238

In [11]:
UKpolice.rename(columns={"Unnamed: 1":"Area Name","Unnamed: 2":"Jan2020Dec2020","Unnamed: 3":"Jan2021Dec2021"})

,"Table P8: Offences involving knife or sharp instrument rate per 100,000 recorded by the police for selected offences, by police force area[note 1][note 2][note 6]",Area Name,Jan2020Dec2020,Jan2021Dec2021
8,Area Code,Area Name,Jan 2020 to \nDec 2020,Jan 2021 to \nDec 2021
9,K04000001,ENGLAND AND WALES [note 2],82.692013,78.617242
10,E92000001,ENGLAND,83.994586,79.957365
11,E12000001,North East,69.215013,71.136464
12,E23000013,Cleveland [note 2],129.141988,124.963143
13,E23000008,Durham [note 2],43.021085,46.678563
14,E23000007,Northumbria [note 2],57.312541,60.933976
15,E12000002,North West,83.760194,89.678174
16,E23000006,Cheshire [note 2],53.813492,50.110036
17,E23000002,Cumbria [note 2],38.399078,39.81744
18,E23000005,Greater Manchester [note 2],110.202611,124.706578
19,E23000003,Lancashire [note 2],62.49416,66.97517
20,E23000004,Merseyside [note 2],91.96383,90.987941
21,E12000003,Yorkshire and The Humber,88.061586,90.529916
22,E23000012,Humberside [note 2],81.367401,81.439238
23,E23000009,North Yorkshire,41.150178,47.617788
24,E23000011,South Yorkshire [note 2],101.559949,105.154998
25,E23000010,West Yorkshire [note 2],99.251051,100.544295
26,E12000004,East Midlands,71.857976,70.084099
27,E23000018,Derbyshire [note 2],71.509704,70.30095
28,E23000021,Leicestershire [note 2],74.615607,74.756432
29,E23000020,Lincolnshire [note 2],49.919603,57.677276
30,E23000022,Northamptonshire [note 2],95.051229,86.505076
31,E23000019,Nottinghamshire [note 2],68.898757,62.96589
32,E12000005,West Midlands,108.442195,97.703277
33,E23000015,Staffordshire,56.605352,61.151401
34,E23000017,Warwickshire,52.428223,50.36092
35,E23000016,West Mercia,53.423063,41.511928
36,E23000014,West Midlands [note 2],163.867142,146.092063
37,E12000006,East,72.577738,65.909936
38,E23000026,Bedfordshire [note 2],88.149193,77.384067
39,E23000023,Cambridgeshire [note 2],78.289686,83.970087
40,E23000028,Essex [note 2],86.426539,81.08561
41,E23000027,Hertfordshire [note 2],66.077129,58.377214
42,E23000024,Norfolk [note 2],54.860316,42.777168
43,E23000025,Suffolk [note 2],50.042687,37.832711
44,E12000007,London[note 11],127.750659,117.811876
45,E23000034,City of London [note 2],[u1],[u1]
46,E23000001,Metropolitan Police [note 2],127.58778,117.821733
47,E12000008,South East,62.199521,55.374344
48,E23000030,Hampshire [note 2],63.462162,60.72836
49,E23000032,Kent [note 2],77.629776,68.40813
50,E23000031,Surrey [note 2][note5],42.132155,37.670748
51,E23000033,Sussex [note 2],59.576168,55.406015
52,E23000029,Thames Valley [note 2],61.075491,49.672993
53,E12000009,South West,50.491618,46.332104
54,E23000036,Avon and Somerset [note 2],72.48278,70.079516
55,E23000035,Devon and Cornwall [note 2],39.660578,38.144892
56,E23000039,Dorset,38.89698,37.462345
57,E23000037,Gloucestershire,45.677869,27.472099
58,E23000038,Wiltshire,41.400299,36.040944
59,W92000004,WALES,51.318176,46.220547
60,W15000004,Dyfed-Powys [note 2],30.593455,33.476869
61,W15000002,Gwent [note 2],51.83754,44.801519
62,W15000001,North Wales [note 2],50.746256,47.770633
63,W15000003,South Wales [note 2],59.427954,50.993026
64,NaN,British Transport Police,[x],[x]