In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
from scipy.stats import norm
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [8]:
UKpolice = pd.read_excel("New/UK DATA/UKpolicedata/policeforceareatabledec21.xlsx")

In [9]:
UKpolice.head()

                                          Unnamed: 0
0                                                NaN
1  Table P3: An amendment has been made to column...
2  This was originally incorrectly labelled Non-r...
3                                                NaN
4          We apologise for any inconvenience caused